@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --principal-color: #2277a8;
    --black-color: #171717;
    --gray-color: #313131;
    --gray-opacity-color:#313131aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-size: 1.5em;
    background: linear-gradient(-45deg, rgba(17, 61, 86, 1) 0%, rgba(30, 104, 146, 1) 100%) no-repeat center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    all: unset
}

a {
    all: unset;
}

h1 {
    font-size: 2rem;
    width: fit-content;
    margin: auto;
}

.bg-gradient {
    background: linear-gradient(-45deg, #2277a8 0%, rgb(30, 104, 146) 100%);
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .8);
    border-radius: .5rem;
}

.container {
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.box {
    text-align:center;
    background-color: var(--principal-color);
    border-radius: .4rem;
    width: fit-content;
    padding: 1rem 0;
    width: 10rem;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: .8rem 3rem;
    background-color: var(--principal-color);
    border-radius: .4rem;
    transition: box-shadow .3s;
    user-select: none;
}

.btn:hover {
    box-shadow: 0 2px .5rem var(--black-color);
    cursor: pointer;
}

.btn:active {
    box-shadow: none;
}

footer {
    padding: 5rem;
    margin-top: auto;
    background-color: var(--black-color);
    color: white;
    font-family: Roboto;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

footer h2 {
    font-size: 1.1rem;
}
.contact-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact-container ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.contact-container a {
    cursor: pointer;
    display: block;
    background-color: var(--gray-color);
    padding: .5rem;
    border-radius: .2rem;
    width: fit-content;
}   

.contact-container img {
    display: block;
    width: 2rem;
}