@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    font-size: 2em;
}

h1 {
    text-transform: uppercase;
}